
body{
    background: #fff;
}
.cart_header{
	width: 100%;
    height: 72px;
    border-bottom: 1px solid #ddd;
    background: #f2f2f2;
}
.header_in .process_bar{
	float: right;
	width: 494px;
}
.process_wrap{
	position: relative;
    height: 23px;
    margin: 0 auto;
    padding: 18px 0 24px;
}
.process_bar .process_wrap{
	width: 494px;
	background: url(../goods/xian.png) 0 18px repeat-x;;

}
.process_bar .process_wrap .process_sd{
	width: 90px;
	position: absolute;
    top: 18px;
    left: 0;
    height: 23px;
}
.process_wrap .process_sd{
	background: url(../goods/hongx.png) 23px 0 repeat-x;
}
.process_wrap .process_i{
	position: absolute;
    top: 18px;
    width: 23px;
    height: 23px;
    font: normal 14px/23px helvetica,tahoma,arial,sans-serif;
    color: #fff;
    text-align: center;
}
.process_tip{
	position: absolute;
    top: 24px;
    width: 100px;
    height: 20px;
    left: 50%;
    margin-left: -50px;
    font: normal 12px/20px helvetica,tahoma,arial,sans-serif;
    color: #999;
}
.process_i1 .process_tip{
	color: #f46;
}
.process_wrap .process_i.process_i1{
	left: 0;
}
.process_wrap .process_i.process_i2{
	left: 157px;
}
.process_wrap .process_i.process_i3{
	left: 314px;
}
.process_wrap .process_i.process_i4{
	left: 471px;
}

.logo-cart{
    height: 52px;
    background: url(../goods/mg_lg.png) no-repeat;
}
.header_in .logo-cart{
    float: left;
    width: 225px;
    margin-top: 14px;
}
.main_cart_content{
    margin-top: 30px;
}



.cart_con{
    background: #fff;
}
.cart_table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 12px;
}
.cart_table tr{
    border: 1px solid #e5e5e5;
}
.cart_table thead tr{
    height: 48px;
    background-color: #f6f6f6;
    border: 1px solid #e5e5e5;
}
.cart_table th{
    border-top: none;
    padding: 15px 0;
    font-weight: 400;
}
.cart_table .cart_table_check_wrap{
    width: 56px;
    padding-left: 24px;
}
.cart_alleft{
    text-align: left;
}
.cart_table_goods_wrap{
    width: 280px;
    padding: 15px 10px 15px 0;
}
.cart_table_goodsinfo_wrap{
    text-align: left;
}
.cart_table .shop_tr{
    border: none;
}
.cart_table .cart_group_head{
    padding: 15px 10px 12px 24px;
    background: #fff;
}
.cart_table_goodsnum_wrap{
    width: 145px;
}
.cart_table .s_shopall{
    font-size: 16px;
    border: 0;
    padding: 0;
    outline: none;
}
.cart_table .tr_checkmr{
    margin-right: 5px;
}
.cart_table td{
    padding: 15px 0;
    line-height: 24px;
    vertical-align: top;
}
.cart_table .cart_bold{
    font-weight: 700;
}
.cart_tip_red{
    position: relative;
    display: inline-block;
    height: 22px;
    color: #333;
    line-height: 22px;
    cursor: default;
}
.cart_tip_red li{
    display: inline-block;
    margin-right: 15px;
}
.cart_hidetip{
    z-index: 9;
    margin-right: 10px;
}
.cart_tip_hd{
    border: 1px solid #f13e3a;
    border-radius: 3px;
    color: #f13e3a;
    padding: 0 7px;
}
.cart_mitem .cart_chec{
    padding: 15px 0 15px 24px;
}
.cart_goods_img{
    float: left;
    position: relative;
    height: 80px;
}
.cart_goods_img img{
    width: 78px;
    height: 78px;
    display: block;
    border: 1px solid #ccc;
}
.cart_goods_t{
    display: block;
    margin: 0 20px 0 90px;
    line-height: 20px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    height: 80px;
}
.cart_ft{
    line-height: 20px;
    color: #666;
}
.cart_ft_s{
    text-decoration: line-through;
}
.cart_ft_p{
    color: #333;
    font-weight: 700;
}
.cart_red{
    color: #ff5777;
    font-weight: 700;
}
.cart_alcenter{
    text-align: center;
}
.cart_num{
    position: relative;
    width: 97px;
    height: 27px;
    margin: 0 auto 4px;
}
.cart_num_input{
    position: absolute;
    border: 0;
    width: 43px;
    height: 12px;
    line-height: 12px;
    padding: 6px 0 7px;
    border: 1px solid #ddd;
    background: #fff;
    top: 0;
    left: 26px;
    text-align: center;
    color: #333;
    outline: none;
}
.cart_num span{
    background: url(../goods/add.png) no-repeat;
     position: absolute;
    cursor: pointer;
    width: 27px;
    height: 27px;
    top: 0;
}
.cart_num .cart_num_add{
    right: 0;
    background-position: 0 -140px;
}
.cart_num .cart_num_reduce{
    left: 0;
    background-position: 0 -180px;
}
.item_sum{
    font-size: 16px;
}


.cart_pay_wrap{
    position: relative;
    height: 50px;
    background: #fff;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    line-height: 50px;
    clear: both;
    margin-top: 16px;
}
.cart_paybtn_disable{
    float: right;
    display: block;
    width: 152px;
    height: 51px;
    margin-top: -1px;
    overflow: hidden;
    background: #d8d8d8 url(../goods/add.png) 0 -800px no-repeat;
}
.cart_paybar_info_cost{
    position: relative;
    padding: 0 12px 0 8px;
    display: inline-block;
    float: right;
    color: #ff5777;
    font-weight: 700;
    font-size: 26px;
}
.cart_pregray{
    float: right;
    color: #666;
    font-size: 12px;
}
.cart_pay_box{
    position: relative;
    padding-left: 45px;
    width: 300px;
    font-size: 12px;
}
.chec_all{
    position: absolute;
    left: 24px;
    top: 50%;
    margin-top: -6px;
    font-size: 16px;
}
.cart_empty{
    position: relative;
    padding: 60px 0 80px 480px;
    background: #fff;
}

.cart_empty_icon{
    position: absolute;
    left: 50%;
    margin-left: -215px;
    width: 80px;
    height: 60px;
    background: url(../goods/add.png) -198px -136px no-repeat;
}
.cart_empty h5{
    font-size: 20px;
    padding: 10px;
}
.cart_empty_list li{
    font-size: 14px;
    padding-top: 10px;
    padding-left: 80px;
    color: #666;
}
.cart_page{
    display: none;
}
